/* https://piccalil.li/blog/a-modern-css-reset */
/******* most important **********\


//adding default styes 
/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul , ol{
    margin: 0;
    padding: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* most important  */
/* ******** */
/* good to add  */

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@import url('https://fonts.google.com/specimen/DM+Serif+Display');
:root {
  /* primary */
  --Dark-Violet: #2d2640;
  --Grayish-Blue: #95a9c6;
  /* Neutral */
  --Very-Dark-Violet: #2b272f;
  --Dark-Grayish-Violet: #837d87;
  --Very-Light-Gray: #fafafa;
  /* font-family */
  --fw-primary: 'DM Serif Display', serif;
}


/* styles */
.container{
    max-width: 1100px;
    margin-inline: auto;
    padding: 16px;
}

/* navbar */

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.navbar__links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__links a{
    color: var(--Dark-Grayish-Violet);
}

.navbar__links a:hover {
    color: black;
}

.navbar__button{
    padding: 5px 28px;
    border: 2px black solid;
    background-color: transparent;
    text-decoration: uppercase;
}

.menu-wrapper{
    display: none;
}

@media (max-width: 900px){
    
    .navbar__links{
        display: none;
    }
    .menu-wrapper{
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       border: 1px black solid;
       height: 50px;
       width: 50px;
    }
    
    .hidden{
        position: absolute;
        height: 30px;
        width: 30px;
        visibility: hidden;
    }

    .hamburger{
        width: 30px;
        height: 30px;
        position: relative;
    }

    .hamburger .bar{
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: black;
        display: block;
        border-radius: 4px;
        transition: all .4s ease-in-out, transform .5s ease-in-out .5s;
    }

    .bar1{
        top: 0;
    }
    .bar2{
        top: 12.5px;
    }
    .bar3{
        bottom: 0;
    }

    .checkbox:checked + label > .hamburger > .bar1{
        top: 13.5px;
        transform: rotate(45deg) scale(1.3);
    }

    .checkbox:checked + label > .hamburger > .bar2{
        transform: scale(0);
    }

    .checkbox:checked + label > .hamburger > .bar3{
        bottom: 13.5px;
        transform: rotate(-45deg) scale(1.3);
    }
    .navbar__links{
        display: none;
        width: 100%;
        height: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 1;
        background-color: var(--Dark-Violet);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        animation-name: open; 
        animation-duration: 3s;
        overflow: hidden;
    }
  
    @keyframes open {
        0%{height: 0px;}
        100%{
            height: 300px;
        }
    }





    .navbar__links a,
    .navbar__links button{
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .navbar__links button{
        border: 2px solid white;
        
    }
    
}


/* hero__section */
.hero__section{
    background-color: var(--Dark-Violet);
    color: white;
}

.hero_row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.even-columns{
    width: 100%;
}


.hero_row .even-columns:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    margin-top: 5rem;
    gap: 2rem;
    p{
        font-size: 1.4rem;
    }
}

.hero_row .even-columns h1{
    font-size: 72px;
    line-height: 64px;
    position: relative;
}

.hero_row .even-columns h1:before{
    content: '';
    width: 150px;
    height: 1px;
    position: absolute;
    top: -50%;
    left: 20px;
    background-color: white;
}

.hero_row .even-columns p{
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 16px;
}


.hero_row .even-columns button{
    align-self: flex-start;
    border: 1px white solid;
    font-size: 1.3rem;
    padding: 10px 40px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.hero_row .even-columns button:hover{
    background-color: white;
    color: var(--Dark-Violet);
}

.hero-img{
    width: 90%;
    transform: translateY(100px);
}

.bg-pattern-left img{
    position: absolute;
    left: 0;
    bottom: -35%;
}

.bg-pattern-right img{
    position: absolute;
    top: 10%;
    right: 0;
}

@media (max-width: 900px){
    .hero_row{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        max-width: clamp(400px , 70% , 600px);
        max-width: 700px;
        padding: 0;
        padding-block: 4rem;
    }

    .hero_row .even-columns:first-child{
        margin-inline: auto;
        padding-inline: 1rem;
    }


    .hero-img{
        transform: translateY(0);
        width: 100%;
    }

    .bg-pattern-left img{
        position: absolute;
        left: 0;
        bottom: 0;
        display: none;
        
    }
    

    .bg-pattern-right img{
        position: absolute;
        top: 40%;
        right: 0;
        display: none;
    }
}

/* steps__section */

.steps-row{
    position: relative;
    margin-top: 5rem;
}

.steps-row:before{
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 1rem;
    background-color: #C396C6;
}

.steps__header{
    margin-bottom: 3.75rem;
}

.steps__header h2{
    padding-top: 0px;
    padding: 0;
    margin: 0;
    font-size: 4rem;
}

.steps__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.steps__card{
    display: grid;
    gap: 2rem;
    text-align: center;
    padding-inline: 1rem;
}

.steps__card h3{
    font-size: 24px;
}

.steps__card p{
    color: var(--Dark-Grayish-Violet);
    font-size: 1.5rem;
}
.steps__card__image{
    img{
        margin-inline: auto;
    }
}

@media (max-width: 900px){
    .steps__cards{
        grid-template-columns: repeat(1 , 1fr);
        justify-content: center;
    }
    .steps__header{
    text-align: center;
    }
}

/* info__section */
.info__section{
    margin-top: 150px;
}

.info_container{
    background-color: var(--Dark-Violet);
}
.info-row{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 35%;
    align-items: center;
    gap: 10rem;
}

.info-row h2{
    font-size: 3.5rem;
    /* font-size: clamp(); */
    color: white;
    padding-inline: 1.5rem;
}

.info-row button{
    padding: 8px 24px;
    font-size: 1rem;
    border: 2px white solid;
    background-color: transparent;
    color: white;
    cursor: pointer;
    justify-self: center;
}

.info-row button:hover{
    background-color: white;
    color: var(--Dark-Violet);
}

@media (max-width: 1000px){
    .info-row{
        grid-template-columns: 1fr;
        gap: 3rem;
        padding-block: 4rem;
        h2{
        font-size: clamp(1rem, 4vw , 2rem);
        text-align: center;
        }
        button{
        width: 240px;
        font-size: 24px;
        }
    }

}

/* footer__section */

.footer_container{
    padding-inline: 2rem;
}

.footer__section{
    background-color: var(--Very-Light-Gray);
    margin-top: 150px;
    padding-block: 2rem;
}

.social__section{
    display: flex;
    justify-content: space-between;
}

.social__links{
    display: flex;
    gap: 1rem;
}


.line-divider{
    display: block;
    width: 100%;
    height: 1px;
    margin-block: 1rem;
    background-color: #DADADA;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

.footer__links a:first-child{
    margin-block: 1rem;
    color: #837D88;
}

.footer__links a{
    color: #2D2641;
    font-weight: bold;
}


@media (max-width: 1000px){
    .footer_container{
        padding-inline: 5rem;
    }
    .social__section{
        flex-direction: column;
        align-items: center;
        height: 75px;
    }
    .footer{
       grid-template-columns: repeat(2 , 1fr);
    }
    .footer__links{
        align-items: center;
    }
}